*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 由 :app:copyPluginApk 任务从 pluginother 的构建产物拷贝而来，不提交
/app/src/main/assets/plugin01.apk
